@media screen and (max-width: 768px) {

}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
body{
  background-image: radial-gradient(circle, #fb68ff, #f982fd, #f798fb, #f4adf8, #f1c0f4);
}
h1{
  text-align: center;
  color: azure;
 font-weight: bold;
 font-size:50px;
}
